
 h1 p{
  display : inline-block;
  float:left;
  text-align:left;
  margin:0;
  }
  h1{
   /*display : inline;*/
   float:left;
   text-align:left;
   margin-top:50px;
   clear:both;
   }
   #border{
     width:auto;
   }
   #right{
     float:right;
   }
   #title{
     text-align:left;
     margin:0;
     float:left;
   }
*{border: 5px solid black;}
/*img {
  max-width: 25%;
  max-height: 25%;
  display: block;
  margin: auto;
}*/
#logo{
  margin-top: : 100px;

}
/*row,
.column {
  box-sizing: border-box;
  padding: 5 px;
}*/
.row::before,
.row::after {
  content: "";
}

row::after {
  clear:both;
}

.column {
  position: relative;
  float: left;
}

col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.98%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 49.98%;
}

.col-7 {
  width: 58.3%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
